@model int

@{
    ViewData["Title"] = "Procesimi i Transaksionit";
}

<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="text-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status"></div>
        <h4 class="mt-3 fw-bold">Duke procesuar transaksionin...</h4>
        <p class="text-muted">Ju lutem prisni, mos e mbyllni faqen.</p>
    </div>

    <form id="autoPostForm" asp-controller="Home" asp-action="QRWrite" asp-route-id="@Model" method="post" class="d-none">
        @Html.AntiForgeryToken()
        <button type="submit">Submit</button>
    </form>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function() {
                document.getElementById("autoPostForm").submit();
            });
        });
    </script>
}